<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloworid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/mz"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".HomeActivity"></activity>
        <activity android:name=".UI2Activity">

        </activity>
        <activity android:name=".UIActivity" />
        <activity android:name=".AliActivity" />
        <activity android:name=".DemoActivity" />
        <activity android:name=".CalculatoActivity" />
        <activity android:name=".RegisterActivity" >

        </activity>
        <activity android:name=".HolleActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>